@model Lab19.Models.Student;
@{
    ViewData["Title"] = "Student Details";
}

<h2>@ViewData["Title"]</h2>

<p>Name: @Model.Name</p>
<p>Roll No: @Model.StdID</p>
<p>Address: @Model.Address</p>
<p>Faculty: @Model.Faculty</p>